<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">OrderAmountHandler</label>
    <label lang="en">OrderAmountHandler</label>

    <version>3.0.0</version>
    <link>http://www.netinventors.de</link>
    <author>Net Inventors GmbH</author>
    <compatibility minVersion="5.6.0" />

    <changelog version="3.0.0">
        <changes lang="de"><![CDATA[
[#32216] Anpassungen für Shopware 5.6
]]></changes>
        <changes lang="en"><![CDATA[
[#32216] Adjustments for Shopware 5.6
]]></changes>
    </changelog>

    <changelog version="2.0.1">
        <changes lang="de"><![CDATA[
[#30642] Support für IE10 hinzugefügtt
]]></changes>
        <changes lang="en"><![CDATA[
[#30642] Add support for IE10
]]></changes>
    </changelog>

    <changelog version="2.0.0">
        <changes lang="de"><![CDATA[
Release für SW 5.5
]]></changes>
        <changes lang="en"><![CDATA[
Release for SW 5.5
]]></changes>
    </changelog>

    <changelog version="1.0.5">
        <changes lang="de"><![CDATA[
Kostenlos-Zahlungsmethode aus account verstecken
]]></changes>
        <changes lang="en"><![CDATA[
Hide free of charge payment mean from account
]]></changes>
    </changelog>

    <changelog version="1.0.4">
        <changes lang="de"><![CDATA[
[#29147] Fehlerkorrektur bei Schnellbestellungen und nach Registrierung
]]></changes>
        <changes lang="en"><![CDATA[
[#29147] Bugfix for guest orders and after registration
]]></changes>
    </changelog>

    <changelog version="1.0.3">
        <changes lang="de"><![CDATA[Initialveröffentlichung im Community Store]]></changes>
        <changes lang="en"><![CDATA[Initial Community Store Release]]></changes>
    </changelog>

    <changelog version="1.0.2">
        <changes lang="de"><![CDATA[[#28952] Readme.md angepasst]]></changes>
        <changes lang="en"><![CDATA[[#28952] Adjusted readme.md]]></changes>
    </changelog>

    <changelog version="1.0.1">
        <changes lang="de"><![CDATA[[Doppelte Namespacedefinition im JavaScript behoben]]></changes>
        <changes lang="en"><![CDATA[[Fix duplicate JavaScript namespace error]]></changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de"><![CDATA[[#27842] Initiales Release]]></changes>
        <changes lang="en"><![CDATA[[#27842] Initial release]]></changes>
    </changelog>

    <requiredPlugins>
        <requiredPlugin pluginName="NetiFoundation" minVersion="4.0.0" />
    </requiredPlugins>
</plugin>
