<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">OrderAmountHandler</label>
    <label lang="en">OrderAmountHandler</label>

    <version>1.0.3</version>
    <link>http://www.netinventors.de</link>
    <author>Net Inventors GmbH</author>
    <compatibility minVersion="5.3.0"/>

    <changelog version="1.0.3">
        <changes lang="de"><![CDATA[Initialveröffentlichung im Community Store]]></changes>
        <changes lang="en"><![CDATA[Initial Community Store Release]]></changes>
    </changelog>

    <changelog version="1.0.2">
        <changes lang="de"><![CDATA[[#28952] Readme.md angepasst]]></changes>
        <changes lang="en"><![CDATA[[#28952] Adjusted readme.md]]></changes>
    </changelog>
    
    <changelog version="1.0.1">
        <changes lang="de"><![CDATA[[Doppelte Namespacedefinition im JavaScript behoben]]></changes>
        <changes lang="en"><![CDATA[[Fix duplicate JavaScript namespace error]]></changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de"><![CDATA[[#27842] Initiales Release]]></changes>
        <changes lang="en"><![CDATA[[#27842] Initial release]]></changes>
    </changelog>

    <requiredPlugins>
        <requiredPlugin pluginName="NetiFoundation" minVersion="2.4.4"/>
    </requiredPlugins>
</plugin>
